
/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .heading h2 {
        font-size: 20px;
      }

    .team {
        width: 50%;
        margin-bottom: 50px;
      }

    .header-list{
        display: block;
    }

    .menu-btn{
        display: none;
    }


    
}



/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .header-list{
        display: none;
    }

    .menu-btn{
        display: block;
    }

    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    .team {
        width: 100%;
      }
    
  .team-icon img {
    width: 50%;
    }
}